footer {
    width: 100%;
    height: 70px;
    bottom: 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    transition: all 0.8s;
}

.result {
    height: 244px;
}

.quadro {
    display: grid;
    align-content: space-between;
    text-align: center;
}

ion-icon {
    width: 30px;
    height: 30px;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

footer>h3,
.quadro>h3 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.resultado {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.resultado>h3 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.resultado>p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    width: 222px;
    word-break: break-word;
}

.resultado > button {
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    border: 0;
}

button p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}